<div class="row">  
    <h1>Hard and Soft Skills</h1>  
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [showBackground]="true"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'#c0c0c0'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeWidth]="'white'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [showBackground]="true"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'#c0c0c0'"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'blue'"
            [innerStrokeWidth]="'white'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [showBackground]="true"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'#c0c0c0'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeWidth]="'white'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [showBackground]="true"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'#c0c0c0'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeWidth]="'white'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [showBackground]="true"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'#c0c0c0'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeWidth]="'white'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [showBackground]="true"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'#c0c0c0'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeWidth]="'white'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>